.cart-card {
  width: auto;
}

.cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  line-height: 1rem;
}

.cart-items>div {
  margin: 1.5rem 0.5rem;
  align-items: flex-start;
  flex-basis: 20%;
  max-width: 320px;
}

.cart-image img {
  width: 180px;
  height: 120px;
}

.cart-name {
  display: flex;
  flex-direction: column;
}

.btn-cart {
  max-width: 200px;
}

.cart-order-title,
.cart-form-title {
  text-align: center;
  margin: 2rem auto;
  letter-spacing: 1px;
  color: darkblue;
  font-weight: 700;
}

.cart-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1rem 5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: rebeccapurple;
}

.none {
  display: none;
}

@media screen and (max-device-width: 768px) {
  .cart-image img {
    width: 120px;
    height: 80px;
  }

  body {
    font-size: 14px;
  }

  .logo-area {
    margin: 10px 0;
  }

  .cart-items>div {
    margin: 1.5rem 0.3rem;
  }
}