* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --outer-distance: 20px;
  --bg-color: #f6f5fd;
  --border-color: #4C4C4F;
  --btn-bgColor: #8ebef5fc;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  grid-gap: var(--outer-distance);
  justify-content: center;
  margin: 0 auto;
}

.product-card {
  width: 320px;
  background-color: var(--bg-color);
  border-radius: var(--outer-distance);
  box-shadow: 0px 2px 37px 0px rgba(0, 0, 0, 0.2);
}

.product__image-block {
  overflow: hidden;
}

.image-block__image {
  width: 320px;
  height: 280px;
  transform-origin: center center;
  object-fit: fill;
  transform: scale(0.8);
  border-radius: var(--outer-distance) var(--outer-distance) 0 0;
}

.product-item {
  margin: 0px var(--outer-distance);
}

.product-item__description {
  height: 2rem;
  margin: 0.8rem 0;
}

.product-features {
  line-height: 1.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.product-features__number {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  max-width: 100px !important;
}

.product-features__number>div {
  padding: 2px 12px;
}

.counter {
  width: 2rem;
}

.product-features__price {
  color: rebeccapurple;
  font-weight: bold;
}

.product-features__btn {
  width: 100%;
  text-align: center;
  background-color: var(--btn-bgColor);
  outline: none;
  border: none;
  border-radius: 5px;
  line-height: 1.3rem;
  margin: var(--outer-distance) 0;
  padding: 5px 0;
  cursor: pointer;
  font-weight: 700;
  color: rgb(43, 5, 83);
}