.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  max-width: 320px;
  background-color: #f8e8e8;
  margin: auto;
  padding: var(--outer-distance);
  border: 1px solid #888;
  border-radius: var(--outer-distance);
  /* width: 80%; */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: rgb(243, 122, 9);
  font-size: 12px;

}