/*************************NAV *******************************/
nav {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 70px;
	top: 0;
	left: 0;
	position: static;
	background-color: white;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	margin-bottom: 50px;
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	margin: 1.5rem 0;
	font-size: 1.2rem;
	text-align: center;
}

.nav-menu {
	display: flex;
	align-items: center;
}

.nav-menu ul {
	display: flex;
}

.nav-menu ul li a {
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
	margin-right: 20px;
}


/*************************FOOTER *******************************/

footer {
	display: flex;
	width: 100%;
	position: relative;
	justify-content: center;
	padding-top: 50px;
	margin-bottom: 50px;
}

.footer-column {
	flex-basis: 20%;
	flex-direction: column;
}

.footer-column span {
	display: block;
	margin: 20px 20px 0 0;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	color: rgba(31, 32, 65, 0.5);
}

.footer-column span b {
	color: black;
	font-size: 14px;
	line-height: 17px;
}

.logo span {
	color: blue;
	font-weight: bold;
}

.footer-logo {
	text-align: center;
}